/* SMALL VERSION */
@media (max-width: 575.98px) {
  #nav {
    padding-top: 10px;
  }

  a.navbar-brand {
    font-size: 15px;
    padding-left: 13px;
  }

  #header .container {
    padding-top: 35px;
  }
  .header-img {
    height: 30vh;
  }
  .header-titles {
    padding-top: 30px;
    padding-left: 25px;
  }

  #header > div > div > div.col-lg-5 {
    text-align: center;
  }

  .first-heading {
    font-size: 3vh;
  }

  .main-heading {
    font-size: 5vh;
  }

  .sub-heading {
    font-size: 2vh;
  }

  .header-emoji {
    font-size: 16px;
  }
  div.social-icons {
    text-align: left;
    padding-top: 0;
  }

  .social-icons ul {
    padding: 0;
    margin-left: 8px;
  }
  .social-icons i {
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    border-radius: 50%;
  }

  .social-icons ul li {
    margin: 0 5px;
  }

  .navbar-nav > li {
    font-size: 10px;
    margin-left: 15px;
  }
  .about-title {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .about-p {
    font-size: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  #about > div > div > div.col-lg-5.col-md-5 {
    text-align: center;
  }
  .about-image {
    width: 50%;
    margin-top: 50px;
    margin-bottom: 0;
  }

  .about-title {
    margin-top: 30px;
  }

  .about-btn {
    height: 25px;
    width: 100px;
    border-radius: 4px;
    font-size: 10px;
    margin: 10px 10px 50px 10px;
  }

  .card {
    margin-bottom: 30px;
  }
  .services-title {
    padding-top: 50px;
    font-size: 20px;
    margin-bottom: 10px;
  }

  .services-p {
    font-size: 10px;
    margin-bottom: 30px;
  }
  #services .col-lg-4 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .service-icons i {
    font-size: 30px;
    padding: 20px;
  }

  .card-headings h2 {
    font-size: 20px;
  }

  .card-headings p {
    font-size: 15px;
  }

  .skills-title {
    font-family: "Inter";
    font-size: 20px;
    font-weight: 700;
    padding-top: 50px;
    color: #ff331f;
  }

  .skills-p {
    font-size: 10px;
    margin-bottom: 10px;
  }

  .skills-slider {
    padding-bottom: 50px;
  }
}
/* // `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .about-image {
    margin-bottom: 50px;
    margin-top: 80px;
  }
  .about-title {
    margin-top: 0;
  }

  .about-p {
    margin-top: 0;
  }

  .about-btn {
    margin-bottom: 80px;
  }
}

/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .about-image {
    margin-bottom: 50px;
    margin-top: 80px;
  }
  .about-title {
    margin-top: 0;
  }

  .about-p {
    margin-top: 0;
  }

  .about-btn {
    margin-bottom: 80px;
  }


}

/* // `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .about-image {
    width: 100%;
  }

  .service-icons i {
    font-size: 40px;
    padding: 30px;
  }
  .card-headings h2 {
    font-size: 20px;
  }
  .card-headings p {
    font-size: 15px;
  }

  .skills-title {
    padding-top: 100px;
  }

  .skills-slider {
    padding-bottom: 40px;
  }
}

