/* XS VERSION */
@media (max-width: 575.98px) {
  #nav {
    padding-top: 10px;
  }

  a.navbar-brand {
    font-size: 15px;
    padding-left: 13px;
  }

  #header .container {
    padding-top: 35px;
  }
  .header-img {
    height: 30vh;
  }
  .header-titles {
    padding-top: 30px;
    padding-left: 25px;
  }

  #header > div > div > div.col-lg-5 {
    text-align: center;
  }

  .first-heading {
    font-size: 3vh;
  }

  .main-heading {
    font-size: 5vh;
  }

  .sub-heading {
    font-size: 2vh;
  }

  .header-emoji {
    font-size: 2vh;
  }
  div.social-icons {
    text-align: left;
    padding-top: 0;
  }

  .social-icons ul {
    padding: 0;
    margin-left: 8px;
  }
  .social-icons i {
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    border-radius: 50%;
  }

  .social-icons ul li {
    margin: 0 5px;
  }

  .navbar-nav > li {
    font-size: 10px;
    margin-left: 15px;
  }
  .about-title {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .about-p {
    font-size: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  #about > div > div > div.col-lg-5.col-md-5 {
    text-align: center;
  }
  .about-image {
    width: 90%;
    margin-top: 50px;
    margin-bottom: 0;
  }

  .about-title {
    margin-top: 30px;
  }

  .about-btn {
    height: 25px;
    width: 100px;
    border-radius: 4px;
    font-size: 10px;
    margin: 10px 10px 50px 10px;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 767.98px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 991.98px) {
  div.social-icons {
    text-align: left;
  }

  .social-icons ul {
    padding: 0;
  }
}
